In [1]:
# Current and initial values of the investment.
initial_investment_value = 100
current_investment_value = 110

# ROI Calculation - calculating the gain or loss of the current value of the investment versus the initial value of that investment
roi = (current_investment_value - initial_investment_value) / initial_investment_value

# Converting the ROI calculation into a percentage by multiplying it by 100
roi_pct = roi * 100

# Printing the result of our ROI Calculation
print(
    f"ROI for an initial investment of ${initial_investment_value} "
    f"now priced at ${current_investment_value} is {roi} or {roi_pct: .2f}%")

ROI for an initial investment of $100 now priced at $110 is 0.1 or  10.00%

In [2]:
# Establishing the current and previous closing prices of the S&P 500.
spx_current_close = 1884.660034
spx_prior_close = 1881.140015

# Daily Return Calculation
daily_return = ((spx_current_close - spx_prior_close ) / spx_prior_close)

# Converting daily_return to a percentage value
daily_return_pct = daily_return * 100

# Printing the result
print(f"The daily return for the S&P 500 was {daily_return: .5f} or {daily_return_pct: .2f}%")

The daily return for the S&P 500 was  0.00187 or  0.19%

In [24]:
import pandas as pd
# Read in the CSV as a DataFrame
sp500_csv = pd.read_csv(('Resources/SP500.csv'),index_col="date",parse_dates=True,infer_datetime_format=True)

# View the first five rows of the DataFrame
sp500_csv.head()

                  close
date
2014-05-20  1872.829956
2014-05-21  1888.030029
2014-05-22  1892.489990
2014-05-23  1900.530029
2014-05-27  1911.910034

In [22]:
# Use `shift()` with a parameter of 1 to shift every element in the 'Adj Close' column
sp500_csv["Shift_1"] = sp500_csv.shift(1)
sp500_csv.head()

                  close      Shift_1
date
2014-05-20  1872.829956          NaN
2014-05-21  1888.030029  1872.829956
2014-05-22  1892.489990  1888.030029
2014-05-23  1900.530029  1892.489990
2014-05-27  1911.910034  1900.530029

In [25]:
# Create the daily_returns Dataframe from the S&P 500 prices using the shift(1) function
daily_returns = (sp500_csv - sp500_csv.shift(1)) / sp500_csv.shift(1)

# Review the daily_returns DataFrame
daily_returns.head()

               close
date
2014-05-20       NaN
2014-05-21  0.008116
2014-05-22  0.002362
2014-05-23  0.004248
2014-05-27  0.005988

In [29]:
stock_abc = pd.DataFrame({'close' : [11.25, 11.98, 10.74, 11.16, 12.35, 12.87, 13.03, 13.14, 13.37, 12.99]})

In [30]:
abc_returns=(stock_abc-stock_abc.shift(5))/stock_abc.shift(5)
abc_returns

      close
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5  0.144000
6  0.087646
7  0.223464
8  0.198029
9  0.051822